/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

@screen-mobile: 576px;
@screen-mw-desktop: (@screen-mobile + 1);

@c-383: #383a4a;
@c-fff: #fff;
@c-f9f: #f9f9f9;
@c-36b: #36b662;
@c-a9a: #a9aaad;

a{
	color: inherit;
	&:hover{
		color: inherit;
		text-decoration: none;
	}
}
b, strong{ font-weight: bold; }
img{
	max-width: 100%;
}
.clear-both{
	&:before, &:after{
		content: '';
		display: table;
		clear: both;
	}
}